@media screen and (min-width:950px){
    .w-container{
        justify-content: center;
    }
    .work-section>h3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
   