* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
figure>a{
  text-align: center;
  height: 200px;
  width: 200px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.075rem 10px 0.5px #0000008b;
  border-radius: 12px;
  font-size:18px;
  color:#fff;
  text-shadow: 1px 1px black;
  background:#333;
  cursor:pointer;
}
#snake-container{
  width:50%;
  height:75%;
  border:3px solid lime;
  overflow: hidden;
  border-radius: 12px;
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.block-yellow{
  background:yellow;
}
.block-red{
  background:red;
}
.block-blue{
  background:blue;
}
.block-green{
  background:green;
}
#simon-container{
  display:grid;
  width:50%;
  height:50%;
  border:3px solid rgb(243, 238, 92);
  grid-template-columns: 1fr 1fr;
  gap:.25rem;
  justify-content: center;
  align-items: center;
}
#simon-container>div.simon-bod{
  border:3px solid cyan;
  height:50px;
  width:50px;
}
.snake-bod{
  height:25px;
  width:25px;
  background:#0f0;
  flex-wrap: wrap;
  border:3px solid rgb(0, 0, 0);
}
#calculator-container,
#notepad-container,
#chatroom-container{
  border:2px solid red;
  border-radius: 12px;
  display:flex;
  flex-direction:column;
  gap:.5rem;
  width:100%;
}
#chatroom-container{
  height:90%;
  width:50%;
  justify-content: center;
}
.pright{
  align-items: end;
}
.pleft{
  align-items: start;
}
.pright>.fa-person{
  padding-right:.5rem;
  padding-top:.5rem;
}
.pleft>.fa-person{
  padding-left:.5rem;
  padding-top:.5rem;
}
#chatroom-container>div{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: end;
}
#calculator-container,#notepad-container{
  height:50%;
  width:50%;
  align-items: center;
  justify-content: center;
}
#calculator-container>.calculator-display{
width:90%;
height:10px;
border:2px solid green;
}
#calculator-container>.calculator-buttons{
  width:90%;
  height:60%;
  border:2px solid rgb(230, 0, 255);
}
.notepad-hr{
  width:100%;
  height:2px;
  color:#fff;
}
.dbds-hr{
  position: absolute;
  height:2px;
  width:100%;
  background:transparent;
  opacity: 0;
}
  #notepad-container>.notepad-textarea{
    width:90%;
    height:85%;
    border:2px solid #fff;
    border-radius: 12px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
  }
.reg-bg {  
  background: rgba(85, 115, 136, 0.745);
}
.modal-bg {
  background: #e6e6e6;
}
.blur-element {
  transition: 0.25s;
  filter: blur(3.75px);
  -webkit-filter: blur(3.75px);
}
.blur-element-sm {
  transition: 0.25s;
  filter: blur(1.75px);
  -webkit-filter: blur(1.75px);
}
body {
  z-index: 998;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100%;
  transition: 0.25s;
}

#nav {
  height: 100%;
  width: 300px;
  z-index: 999;
  opacity: 0.98;
  background: indigo;
  border: 4px solid purple;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow: scroll;
}
.nav-list-item {
  width: 75%;
  text-align: center;
  background-color: #003237;
  padding: 0.75rem 0;
}
.nav-list-item > a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}
.hidden-nav {
  right: -100%;
  transition: 0.75s;
}
.show-nav {
  transition: 0.75s;
  right: 0;
}
.nav-list-container {
  border: 3px solid #fff;
  width: 100%;
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.flex-nav-item {
  width: 70%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.general-nav {
  border: 4px solid #0f0;
}
.social-nav {
  border: 4px solid rgb(220, 11, 206);
}
footer {
  height: 150px;
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  transition: 0.75s;
  justify-content: center;
  overflow:hidden;
  width:100%;
  box-shadow: 0 -.5rem 12px .6px #0000008b;

}

.star{
  z-index:998;
  top: 5px;
  right: 5px;
  position:absolute;
  display:none;
  font-size: 30px;
  pointer-events: none;
  transition: .5s;
  text-shadow: 1px 1px rgb(0, 0, 0);
}
.st1{
  color:rgb(234, 234, 128);
}
.st2{
  color:rgb(245, 128, 18);
}
.star-reg{
transform:scale(1.25);
  opacity:1;
}
.star-hide{
transform:scale(0);
opacity:0;
}
footer,
section {
  width: 100%;
  padding: 0 0.5rem;
}
/* banner */
.space-img{
position: absolute;
transform: rotate(180deg);
opacity: .955;
}
#banner {
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  transition: 0.75s;
  justify-content: center;
  overflow:hidden;
  width:100%;
  box-shadow: 0 .5rem 12px .6px #0000008b;
}
.banner-reg {
  height: 350px;
  transition: 0.5s;
}
.banner-sm {
  height: 200px;
  transition: 0.25s;
}
#banner>h1,#banner>h3{
  z-index:999;
  color:ghostwhite;
  letter-spacing: .75px;
}
#banner>h1{
  font-size:32px;
}
#banner>h3{
  font-size:18px;
  margin-top:1.75rem;
}
.yes-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
#work {
  height: 100%;
  padding: .75rem;
}
.hidden-banner {
  opacity: 0;
}

.no-pointer {
  pointer-events: none;
}

#nav-button {
  position: absolute;
  z-index: 999;
  top: 15px;
  right: 10px;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  color:rgb(246, 246, 145);
}

/* work section */
.work-section{
    margin-bottom:1.5rem;
    transition:.5s;
    /* background:#fa9b78c2; */
}
.work-section>h3{
  font-size:30px;
  /* border:2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
  width:100%;
  color:rgb(242, 242, 78);
  letter-spacing: 1.15px;
  padding:.5rem;
  text-shadow: .5px .5px 6px #000;
}
.w-container{
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  border-radius:12px;
}

figure > a > img {
  height: 200px;
  width: 200px;
  border-radius: 12px;
  box-shadow: 0 0.075rem 10px 0.5px #0000008b;
}
figcaption {
  text-align: start;
  width: 100%;
}
.figcaption-module {
  text-align: end;
  width: 100%;
}
.tile-sep {
  height: 125px;
  width: 2px;
  background: #333;
  border: 0.75px solid rgb(92, 92, 92) (255, 255, 255);
  border-radius: 12px;
}
.mod-cat {
  height: 150px;
  width: 150px;
}
.tile-sep-col {
  height: 0.75px;
  width: 66%;
  background: #333;
  border: 0.75px solid rgb(92, 92, 92) (255, 255, 255);
  border-radius: 12px;
}

