  <!-- modal architecture -->
<div
  id="wrapper"
  class="modal modal-wrapper wrapper-modal modal-parent parent-modal modal-container container-modal hidden-modal"
>
  <!-- forms -->
  <!-- alerts/notifications -->
  <!-- compliance -->
  <!-- media -->
</div>
