<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src-elem 'nonce-<?= nonce ?>';"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="css-target">Kyle Anthony</title>
    <link rel="stylesheet" nonce="<?=nonce?>" href="./main.css">
  </head>
  <body>
    <!-- navigation -->
    <nav id="nav" class="navigation nav-elem elem-nav">
      <ul class="nav-list-container">
        <li class="nav-list-item">home</li>
        <li class="nav-list-item">work</li>
        <li class="nav-list-item">contact</li>
      </ul>
    </nav>
    <!-- banner/about -->
    <section id="banner" class="welcome-banner banner-welcome">
      <h1>Develop with Kyle</h1>
      <h3>subheaer</h3>
    </section>
    <section id="work" class="projects">
      <ul class="work-list-container">
        <figure>
          <img src="#" alt="undefined" />
          <figcaption>undefined</figcaption>
        </figure>
        <figure>
          <img src="#" alt="undefined" />
          <figcaption>undefined</figcaption>
        </figure>
        <figure>
          <img src="#" alt="undefined" />
          <figcaption>undefined</figcaption>
        </figure>
      </ul>
    </section>
    <footer id="contact">
      footer
    </footer>
    <script nonce="<?=nonce?>" defer src="./main.bundle.js"></script>
  </body>
</html>
